@import "base/reset";
@import "base/common";

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.topCart {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 3rem;
  color: white;
  padding: 0 .3rem;
  color: white;

  span {
    font-size: 1.2rem;
  }

  em {
    display: block;
    position: absolute;
    top: .5rem;
    right: 12%;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .6rem;
    font-style: normal;
    border-radius: 50%;
    background: red;
  }
}

header {
  height: 3rem;
  line-height: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #21d9a2), color-stop(1, #31bd80));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  h1 {
    margin: 0;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    height: 3rem;
    line-height: 3rem;
    color: white;
  }
}

.iconfont {
  font-family: 'freshregular';
}

.backIcon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 .3rem;
  color: white !important;
  font-size: .4rem;
}

.shopNum {
  padding: 10px;
}

.price {
  color: #838383;
  font-size: 1.4rem;
}

.weight {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.shopTitle {
  padding: 10px;
}

.shopContainer {
  padding: 10px 5px;
  width: 100%;
  margin: 0px auto;
  text-align: left;
  color: #434343;
  font-size: 14px;
  line-height: 24px;
}

.shopContainer p {
  margin-bottom: 15px;
}

.detailBox {
  margin-top: 3.2rem;
  > div {
    background-color: white;
  }
}