@import "base/common";
@import "base/reset";
@import "base/header";

.formLogo {
  background: #31bd80;
  overflow: hidden;
  height: 10rem;

  h2 {
    color: white;
    line-height: 7rem;
    text-align: center;
  }
}

.formarea {
  overflow: hidden;

  li {
    @include height(4rem);
    position: relative;
    margin: 1rem 0;
    background: white;
    padding: 0 3%;
    overflow: hidden;

    .lit {
      position: absolute;
      left: 3%;
      top: 0;
    }
    .textbox {
      width: 94%;
      border: none;
      text-indent: 6.5rem;
    }
    input {
      outline: none;
    }
    &:last-child {
      background: none;

      input[type="submit"] {
        width: 100%;
        @include height(3.8rem);
        background: #31bd80;
        border: none;
        font-size: 2rem;
        color: white;
        border-radius: 3px;

        &:active {
          background: #53ab48;
        }
      }
    }

    select {
      @include boxFlex(button);
      background: none;
      border: none;
      outline: none;
      width: 100%;
      text-indent: 5.4rem;
      padding: .32rem 3%;
      color: #999;
    }
    .checkCode {
      background: #f8f8f8;
      color: #999;
      @include height(1rem);
      text-align: center;
      display: block;
    }
  }
  .liLink {
    background: none;
    @include height(2rem);
    a {
      color: #999;
    }
  }
  .lg_liLink {
    @include displayBox(box);

    span {
      display: inline-block;
      @include boxFlex(1);
      color: #999;
      text-align: left;
      width: 9.59rem;
    }
  }
}