<link rel="stylesheet" type="text/css" href="src/styles/css/address.css"/>


<header>
    <a href="javascript:history.go(-1);" class="fl">
        <span class="fa fa-angle-left" ></span>
    </a>
    <span class="title">我的地址</span>
</header>
<ul class="userForm" ng-controller="addressController" id="address">
    <li>
        <span>收货人姓名</span>
        <input type="text" value="beidan" ng-model="nickname"  readonly/>
    </li>
    <li>
        <span>收货人手机</span>
        <input type="text" value="phone" ng-model="phone"  readonly/>
    </li>
    <li>
        <span>收货地址 </span>
        <a href="#/cityPick" readonly>{{::city}}</a>
    </li>
    <li>
        <span>邮编</span>
        <input type="number" value="515000" ng-model="Zipcode" readonly/>
    </li>
    <!--<li>-->
        <!--<span>收货地址</span>-->
        <!--<input type="text" value="beidan"/>-->
        <!--<a href="#/cityPick">{{::city}}</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<select>-->
            <!--<option>西安市</option>-->
        <!--</select>-->
    <!--</li>-->
    <!--<li>-->
        <!--<select>-->
            <!--<option>雁塔区</option>-->
        <!--</select>-->
    <!--</li>-->
    <li>
        <span>详细地址</span>
        <textarea readonly ng-model="Detailaddr" class="detailaddr">省体育场220号</textarea>
    </li>
    <li>
        <input type="button" value="修改地址" class="button" ng-click="save($event)"/>
    </li>
</ul>
