<link rel="stylesheet" type="text/css" href="src/styles/css/asort.css"/>

<!--<aside class="searchArea">-->
    <!--<input type="text" placeholder="寻找调料、食材..."/>-->
    <!--<i class="fa fa-search search" aria-hidden="true"></i>-->
<!--</aside>-->

<div class="contaniner fixed-cont" ng-controller="AsortController">
    <aside class="assort">
        <ul ng-repeat="item in navList">
            <a href="#/asort?cate={{::item.value}}">
                <li>
                    <img ng-src="{{::item.imgsrc}}"/>
                    <span>{{::item.name}}</span>
                </li>
            </a>
        </ul>
    </aside>

    <section class="assort-cont">
        <!--<figure>-->
            <!--<a href="#">-->
                <!--<img src="http://121.42.190.17/Shop/1380466265056+-318472707.jpg"/>-->
            <!--</a>-->
        <!--</figure>-->
        <dl>
            <dt>商品</dt>
            <dd ng-repeat="item in list">
                <a href="#detail?id={{::item.id}}">
                    <img ng-src="{{::item.image}}"/>
                    <p>{{::item.name}}</p>
                </a>
            </dd>
        </dl>
        <!--<dl>-->
        <!--<dt>妈妈专区</dt>-->
        <!--<dd ng-repeat="item in list2">-->
        <!--<a href="#">-->
        <!--<img ng-src="{{::item.image}}"/>-->
        <!--<p>{{::item.name}}</p>-->
        <!--</a>-->
        <!--</dd>-->
        <!--</dl>-->
    </section>
</div>

<foot-nav></foot-nav>




