<link rel="stylesheet" type="text/css" href="src/styles/css/cart.css" />

<header>
    <a href="javascript:history.go(-1);" class="fl">
        <span class="fa fa-angle-left" ></span>
    </a>
    <span class="title">购物车</span>
</header>

<div ng-controller="CartController">
<dl class="cart" >
    <dt>
        <a class="edit" ng-click="toggle($event)">编辑</a>
    </dt>
    <dd ng-repeat = 'item in items'>
        <a href="#detail?id={{::item.productId}}" class="goodsPic"><img ng-src="{{::item.img}}"/></a>
        <div class="goodsInfor">
            <h4>
                <span class="hide">{{::item.id}}</span>
                <a href="product.html">{{::item.productName}}</a>
                <span>{{item.count}}</span>
            </h4>
            <div class="priceArea">
                <strong>{{::item.productPrices}}</strong>
                <del>{{::item.preprice}}</del>
            </div>
            <div class="numberWidget"  ng-show="editShow">
                <input type="button" value="-" class="minus" ng-click="SubNum($index)"/>
                <input type="number" ng-model="item.count"  class="numberChange"/>
                <input type="button" value="+"  class="plus" ng-click="AddNum($index)"/>
            </div>
        </div>
        <a class="delBtn" ng-show="editShow" ng-click="remove($index)">
            <span class="fa fa-minus" aria-hidden="true"></span>
            <span>删除</span>
        </a>
    </dd>
</dl>
<aside class="btmNav">
    <a>合计：￥{{totalPrice()}}</a>
    <a href="#/confirm_order" class="order">立即下单</a>
</aside>
</div>
