<header>
    <a href="javascript:history.go(-1);" class="fl">
        <span class="fa fa-angle-left"></span>
    </a>
    <span class="title">确认订单</span>
</header>
<div ng-controller="confirmOrderController">
    <aside class="confirmAddr">
        <p>
            <span>收货人：{{::address.username}}</span>
            <span>{{::address.userphone}}</span>
        </p>
        <address>{{::address.area}}</address>
        <a href="#/address" class="iconfont">&#60;</a>
    </aside>
    <!--<dl class="payment">-->
    <!--<dt>选择支付方式</dt>-->
    <!--<dd>-->
    <!--<label><input type="radio" name="pay"/>支付宝支付</label>-->
    <!--<label><input type="radio" name="pay"/>微信支付</label>-->
    <!--</dd>-->
    <!--</dl>-->
    <dl class="cart">
        <dd ng-repeat='item in items'>
            <a class="goodsPic"><img ng-src="{{::item.img}}"/></a>
            <div class="goodsInfor">
                <h4>
                    <span class="hide">{{::item.id}}</span>
                    <a href="product.html">{{::item.productName}}</a>
                    <span>{{item.count}}</span>
                </h4>
                <div class="priceArea">
                    <strong>{{::item.productPrices}}</strong>
                </div>
            </div>
        </dd>
    </dl>

    <aside class="btmNav">
        <a>合计：￥{{totalPrice()}}</a>
        <a ng-click="createOrder()">提交订单</a>
    </aside>

</div>


