<link href="src/styles/css/detail.css" rel="stylesheet">

<header>
    <a href="javascript:history.go(-1);" class="fl">
        <span class="fa fa-angle-left"></span>
    </a>
    <span class="title">产品详情</span>
    <a href="#/cart" class="cart fr">
        <span class="fa fa-shopping-cart" aria-hidden="true"></span><strong>{{cartCount}}</strong>
    </a>
</header>

<div ng-controller="DetailController" class="detailBox">
    <div id="canvas">
        <ul>
            <li><img src="" alt="swiperImg" height="180px" width="100%"></li>
            <li><img src="" alt="swiperImg" height="180px" width="100%"></li>
            <li><img src="" alt="swiperImg" height="180px" width="100%"></li>
        </ul>
    </div>
    <div class="shopNum">
        <h4>{{::detail.title}}</h4>
        <div class="clearfix">
            <p class="price fl">
                <span class="color_orange font20">{{::detail.price}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <del>{{::detail.prePrice}}</del>
            </p>
            <span class="fr">
            <div class="btn-group numberWidget" role="group" aria-label="...">
                <input type="button" value="-" class="minus" ng-click="SubNum($index)"/>
                <input type="number" ng-model="count" class="numberChange"/>
                <input type="button" value="+" class="plus" ng-click="AddNum($index)"/>
            </div>
        </span>
        </div>
        <div class="weight">
            <span>商品规格</span>
            <span class="fr"><strong>{{::detail.weight}}</strong></span>
        </div>
    </div>
    <div class="shopTitle">
        <span>商品介绍</span>
    </div>
    <div>
        <div class="shopContainer">
            <p>{{::detail.introduce}}</p>
        </div>
    </div>
    <div class="shopCommon">
        <span class=" font16">商品评价 ({{len()}})</span>
    </div>
    <div ng-repeat="item in comment" class="commonlist">
        <span>{{item.username}}</span><span class="fr"><span class="fa fa-star starColor"></span> {{item.star}}</span>
        <div class="content">
            <p>{{item.detail}}</p>
        </div>
        <span class="fr">{{item.commentDate}}</span>
    </div>
</div>

<aside class="btmNav">
    <a ng-click="addToCart()" class="order">加入购物车</a>
    <!--href="#/cart"-->
</aside>


