<link rel="stylesheet" type="text/css" href="src/css/login.css"/>



<section class="formLogo">
    <h2>N</h2>
</section>
<form role="form" class="form-horizontal" ng-controller="LoginController">
<ul class="formarea">
    <li>
        <label class="lit">账号：</label>
        <input type="number" placeholder="手机号码" class="textbox" required ng-model="userName" />
    </li>
    <li>
        <label class="lit">密码：</label>
        <input type="password" placeholder="登陆密码" class="textbox" required ng-model="userPsw" />
    </li>
    <li class="liLink lg_liLink">
        <span><label><input type="checkbox"/>记住密码</label></span>
        <span><a href="#register">新用户注册</a></span>
        <span><a href="#find_pwd">忘记密码?</a></span>
    </li>
    <li>
        <input type="submit" value="立即登陆" ng-click="submit();" class="button"/>
    </li>



</ul>
</form>


