<link rel="stylesheet" type="text/css" href="src/styles/css/order.css"/>

<header>
    <a href="javascript:history.go(-1);" class="fl">
        <span class="fa fa-angle-left"></span>
    </a>
    <span class="title">订单列表</span>
</header>
<div ng-controller="orderController" class="orderBox">
    <aside class="orderSift">
        <a class="currStyle">待付款</a>
        <a>已取消</a>
        <a>已完成</a>
    </aside>
    <ul class="orderList" ng-repeat="item in OrderData">
        <li>
            <dl>
                <dt>
                    <span>订单编号：{{::item.orders.id}}</span>
                    <span>{{formatStatus(item.orders.status)}}</span>
                </dt>
                <dd ng-repeat="detail in item.orderProducts">
                    <a href="#detail?id={{::detail.productId}}" class="goodsPic">
                        <img ng-src="{{::detail.img}}" alt="shop img"/>
                    </a>
                    <h5>{{::detail.productName}}</h5>
                    <strong>
                        <em>{{::detail.productPrices}}</em>
                        <span>{{::detail.count}}</span>
                    </strong>
                </dd>
                <dd>
                    <span>商品数量：<b>{{::item.orders.count}}</b></span>
                    <span>实付：<b>{{::item.orders.prices}}</b></span>
                </dd>
                <dd>
                    <a class="order_delBtn" ng-hide="{{isDelShow(item.orders.status)}}"
                       ng-click="deleteOrder(item.orders.id)">删除订单</a>
                    <a class="order_payBtn" ng-hide="{{isPayShow(item.orders.status)}}">付款</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>
