@mixin fl {
  float: left;
}

@mixin fr {
  float: right;
}

@mixin center {
  text-align: center;
}

@mixin boxFlex($value) {
  box-flex: $value;
  -webkit-box-flex: $value;
  -moz-box-flex: $value;
}

@mixin displayBox($value) {
  display: $value;
  display: -webkit-#{$value};
  display: -moz-#{$value};
}

@mixin appearance($value) {
  appearance: $value;
  -moz-appearance: $value;
  -webkit-appearance: $value;
}

@mixin scaleX($value) {
  transform: scaleX($value);
  -webkit-transform: scaleX($value);
  -moz-transform: scaleX($value);
}

//定义高度
@mixin height($height: 1.6rem) {
  height: $height;
  line-height: $height;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*超出显示……*/
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*清除浮动*/
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/*公共样式*/
$themeColor: #31bd80;
$themeHoverColor: #53ab48;

.button {
  width: 100%;
  @include height(3.8rem);
  background: $themeColor;
  border: none;
  text-align: center;
  font-size: 2rem;
  color: white;
  border-radius: 3px;

  &:active {
    background: $themeHoverColor;
  }
  &:focus {
    border: none;
    outline: none;
  }
}



