@charset "UTF-8";
.fl {
  float: left; }

.fr {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

/*超出显示……*/
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/*清除浮动*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

/*公共样式*/
.button {
  width: 100%;
  height: 3.8rem;
  line-height: 3.8rem;
  background: #31bd80;
  border: none;
  text-align: center;
  font-size: 2rem;
  color: white;
  border-radius: 3px; }
  .button:active {
    background: #53ab48; }
  .button:focus {
    border: none;
    outline: none; }

/*rem  不同页面使用不同font-size*/
@media only screen and (min-width: 320px) {
  html {
    font-size: 62.5% !important; } }
@media only screen and (min-width: 640px) {
  html {
    font-size: 125% !important; } }
@media only screen and (min-width: 750px) {
  html {
    font-size: 150% !important; } }
@media only screen and (min-width: 1242px) {
  html {
    font-size: 187.5% !important; } }
body {
  margin: 0;
  font-family: "microsoft yahei";
  font-size: 1.4rem;
  line-height: 1;
  color: #333;
  background-color: #f1f1f1; }

a {
  color: #06c1ae;
  text-decoration: none;
  outline: 0; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

button, input, optgroup, select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

img {
  vertical-align: middle;
  border: 0; }

html {
  font-size: 50px;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1; }

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  font-weight: 400;
  line-height: 1; }

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
  font-size: 65%; }

.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  font-size: 75%; }

.h1, h1 {
  font-size: 2.2rem; }

.h2, h2 {
  font-size: 2rem; }

.h3, h3 {
  font-size: 1.8rem; }

.h4, h4 {
  font-size: 1.6rem; }

.h5, h5 {
  font-size: 1.4rem; }

.h6, h6 {
  font-size: 1.2rem; }

h6 {
  margin-top: 0;
  margin-bottom: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

hr {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border: 0;
  border-top: 1px solid #DDD8CE; }

h6, p {
  line-height: 1.41;
  text-align: justify;
  margin: -.2em 0;
  word-break: break-all; }

small, weak {
  color: #666; }

::-webkit-input-placeholder {
  color: #999;
  line-height: normal; }

:-moz-placeholder {
  color: #999;
  line-height: normal; }

::-moz-placeholder {
  color: #999;
  line-height: normal; }

header {
  height: 4rem;
  line-height: 4rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #21d9a2), color-stop(1, #31bd80));
  text-align: center;
  padding: 0 10px;
  font-size: 1.6rem; }
  header a {
    color: white; }
  header .title {
    color: white;
    margin-right: 10px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #f8f8f8;
  border-top: 1px #f4f4f4 solid; }
  footer a {
    display: block;
    padding: 6px 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    text-align: center;
    color: grey;
    width: 25%;
    float: left;
    height: 100%;
    line-height: 1.2; }
    footer a:before {
      display: block;
      font-family: 'freshregular';
      font-size: 2.5rem; }
    footer a p {
      margin: 1px 0;
      text-align: center; }

.backIcon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 .3rem;
  color: white;
  font-size: .4rem; }

.goodsPic {
  width: 2rem;
  height: 2rem;
  display: block;
  float: left;
  text-align: center;
  overflow: hidden;
  border: 1px #f8f8f8 solid;
  border-radius: 2px; }
  .goodsPic img {
    width: auto;
    max-width: 100%;
    height: 2rem; }

.goodsInfor {
  margin-left: 2.3rem;
  position: relative; }
  .goodsInfor h2 a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333; }
  .goodsInfor p {
    margin: .2rem 0; }
    .goodsInfor p .price {
      color: #31bd80; }
      .goodsInfor p .price:before {
        content: "￥"; }
    .goodsInfor p del {
      color: grey; }
      .goodsInfor p del:before {
        content: "原价：￥"; }
  .goodsInfor .addToCart {
    position: absolute;
    top: 30%;
    right: 3%;
    font-family: 'freshregular';
    font-size: .65rem;
    color: #f0c600; }

.cart {
  background: white;
  overflow: hidden;
  margin: 0; }
  .cart dt {
    height: 3.5rem;
    line-height: 3.5rem;
    border-bottom: 1px #d2d2d2 solid;
    padding: 0 3%; }
    .cart dt label input[type="checkbox"] {
      margin-right: .1rem;
      vertical-align: middle; }
    .cart dt .edit {
      float: right;
      display: block; }
  .cart dd {
    overflow: hidden;
    border-bottom: 1px #d2d2d2 dotted;
    padding: 1rem 3%;
    position: relative;
    margin: 0; }
    .cart dd .delBtn {
      position: absolute;
      right: 10px;
      top: 20px;
      width: 4rem;
      padding: 1rem;
      background: #31bd80;
      color: white;
      text-align: center; }
    .cart dd 　　
    input[type="checkbox"] {
      float: left;
      margin-right: .15rem; }
    .cart dd .goodsPic {
      width: 4.8rem;
      height: 4.8rem;
      float: left; }
      .cart dd .goodsPic img {
        height: 4.8rem; }
  .cart .goodsInfor {
    margin-left: 6rem; }
    .cart .goodsInfor h4 {
      margin: .8rem 0;
      overflow: hidden; }
      .cart .goodsInfor h4 a {
        display: block;
        color: grey;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        float: left; }
      .cart .goodsInfor h4 span {
        float: right;
        color: #999; }
        .cart .goodsInfor h4 span:before {
          content: "x"; }
    .cart .goodsInfor .numberWidget input[type="button"] {
      width: 2rem;
      height: 2rem;
      background: none;
      border: 1px #d2d2d2 solid;
      color: grey;
      outline: none; }
    .cart .goodsInfor .numberWidget input[type="number"] {
      width: 3rem;
      text-align: center;
      background: none;
      border: none; }
    .cart .goodsInfor .priceArea {
      margin: 1rem 0; }
      .cart .goodsInfor .priceArea strong {
        color: #6aab60;
        font-size: 1rem;
        margin-right: 1rem; }
        .cart .goodsInfor .priceArea strong:before {
          content: "￥";
          font-size: .3rem; }
      .cart .goodsInfor .priceArea del {
        color: grey; }
        .cart .goodsInfor .priceArea del:before {
          content: "￥"; }

.numberChange {
  width: 2rem; }

.delBtn p {
  text-align: center; }

.btmNav {
  height: 4rem;
  line-height: 4rem;
  z-index: 999;
  background: #f8f8f8;
  border-top: 1px #f2f2f2 solid;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box; }
  .btmNav a {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    text-align: center;
    border-right: 1px #f2f2f2 solid;
    text-shadow: 0 1px 1px white;
    color: #999; }
    .btmNav a:last-child {
      border: none; }
  .btmNav .order {
    background: #64ab5b;
    color: white;
    text-shadow: none; }
