@charset "UTF-8";
/*rem  不同页面使用不同font-size*/
@media only screen and (min-width: 320px) {
  html {
    font-size: 62.5% !important; } }
@media only screen and (min-width: 640px) {
  html {
    font-size: 125% !important; } }
@media only screen and (min-width: 750px) {
  html {
    font-size: 150% !important; } }
@media only screen and (min-width: 1242px) {
  html {
    font-size: 187.5% !important; } }
body {
  margin: 0;
  font-family: "microsoft yahei";
  font-size: 1.4rem;
  line-height: 1;
  color: #333;
  background-color: #f1f1f1; }

a {
  color: #06c1ae;
  text-decoration: none;
  outline: 0; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

button, input, optgroup, select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

img {
  vertical-align: middle;
  border: 0; }

html {
  font-size: 50px;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1; }

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  font-weight: 400;
  line-height: 1; }

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
  font-size: 65%; }

.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  font-size: 75%; }

.h1, h1 {
  font-size: 2.2rem; }

.h2, h2 {
  font-size: 2rem; }

.h3, h3 {
  font-size: 1.8rem; }

.h4, h4 {
  font-size: 1.6rem; }

.h5, h5 {
  font-size: 1.4rem; }

.h6, h6 {
  font-size: 1.2rem; }

h6 {
  margin-top: 0;
  margin-bottom: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

hr {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border: 0;
  border-top: 1px solid #DDD8CE; }

h6, p {
  line-height: 1.41;
  text-align: justify;
  margin: -.2em 0;
  word-break: break-all; }

small, weak {
  color: #666; }

::-webkit-input-placeholder {
  color: #999;
  line-height: normal; }

:-moz-placeholder {
  color: #999;
  line-height: normal; }

::-moz-placeholder {
  color: #999;
  line-height: normal; }

.fl {
  float: left; }

.fr {
  float: right; }

/*超出显示……*/
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/*清除浮动*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

/*公共样式*/
.button {
  width: 100%;
  height: 3.8rem;
  line-height: 3.8rem;
  background: #31bd80;
  border: none;
  text-align: center;
  font-size: 2rem;
  color: white;
  border-radius: 3px; }
  .button:active {
    background: #53ab48; }
  .button:focus {
    border: none;
    outline: none; }

header {
  height: 4rem;
  line-height: 4rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #21d9a2), color-stop(1, #31bd80));
  text-align: center;
  padding: 0 10px;
  font-size: 1.6rem; }
  header a {
    color: white; }
  header .title {
    color: white;
    margin-right: 10px; }

/* 隐藏画布外的内容 */
#canvas {
  height: 180px;
  width: 100%;
  overflow: hidden; }

#canvas ul {
  height: 180px;
  position: absolute;
  width: 100%; }

#canvas li {
  width: 100%;
  height: 100%;
  position: absolute;
  /*防止 3d动画在手机上的闪烁现象*/
  -webkit-backface-visibility: hidden; }

#canvas li img {
  max-width: 100%;
  max-height: 100%; }

header em {
  font-size: .5rem;
  position: absolute;
  top: -6px; }

.topCart {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 3rem;
  color: white;
  padding: 0 .3rem;
  color: white; }
  .topCart span {
    font-size: 1.2rem; }
  .topCart em {
    display: block;
    position: absolute;
    top: .5rem;
    right: 12%;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .6rem;
    font-style: normal;
    border-radius: 50%;
    background: red; }

.iconfont {
  font-family: 'freshregular'; }

.backIcon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 .3rem;
  color: white !important;
  font-size: .4rem; }

.shopNum {
  padding: 10px; }

.price {
  color: #838383;
  font-size: 1.4rem; }

.weight {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px; }

.shopTitle {
  padding: 10px; }

.shopContainer {
  padding: 10px;
  width: 95%;
  margin: 0px auto;
  text-align: left;
  color: #434343;
  font-size: 14px;
  line-height: 24px; }

.shopContainer p {
  margin-bottom: 15px; }

.detailBox {
  margin-bottom: 100px; }
  .detailBox > div {
    background-color: white; }

.btmNav {
  height: 4rem;
  line-height: 4rem;
  z-index: 999;
  background: #f8f8f8;
  border-top: 1px #f2f2f2 solid;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box; }
  .btmNav a {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    text-align: center;
    border-right: 1px #f2f2f2 solid;
    text-shadow: 0 1px 1px white;
    color: #999; }
    .btmNav a:last-child {
      border: none; }
  .btmNav .order {
    background: #64ab5b;
    color: white;
    text-shadow: none; }

.shopCommon {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc; }

.commonlist {
  padding: 20px 10px;
  border-bottom: 1px solid #ccc; }
  .commonlist .content {
    margin: 10px 0; }

.starColor {
  color: red; }

.numberWidget input[type="button"] {
  width: 2rem;
  height: 2rem;
  background: none;
  border: 1px #d2d2d2 solid;
  color: grey;
  outline: none; }
.numberWidget input[type="number"] {
  width: 2rem;
  text-align: center;
  background: none;
  border: none; }
